stages:
  - build

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

test:
  stage: build
  image: gradle:8.5-jdk21
  tags:
    - docker  # Runner에 설정된 태그 추가
  variables:
    SPRING_PROFILES_ACTIVE: test
  script:
    - chmod +x ./gradlew
    - ./gradlew test
  rules:
    #    - if: $CI_COMMIT_BRANCH == "be/master"
    - if: $CI_COMMIT_BRANCH == "be/develop"
