stages:
  - test
  - build
  - deploy_test

test:
  stage: test
  tags:
    - npm
  script:
    - npm ci
    - npm test
  only:
    - npm/main

build:
  stage: build
  tags:
    - npm
  script:
    - npm ci
    - npm run build
    - Get-ChildItem dist
  artifacts:
    paths:
      - dist/
    expire_in: 1 day
  only:
    - npm/main

deploy_test_local:
  stage: deploy_test
  tags:
    - npm
  dependencies:
    - build
  before_script:
    - git config --global user.email "ci@gitlab.com"
    - git config --global user.name "GitLab CI"
  script:
    - $repoUrl = "${env:CI_REPOSITORY_URL}" -replace 'https://', "https://oauth2:${env:CI_JOB_TOKEN}@"
    - git clone --depth 1 --branch npm/main $repoUrl test-temp
    - New-Item -ItemType Directory -Force -Path test-temp/test-static/lib
    - Copy-Item dist/index.es.js test-temp/test-static/lib/loglens.esm.js
    - Copy-Item dist/index.umd.js test-temp/test-static/lib/loglens.umd.js
    - Copy-Item dist/index.d.ts test-temp/test-static/lib/loglens.d.ts
    - Get-ChildItem test-temp/test-static/lib
    - cd test-temp
    - git add test-static/
    - git status
    - |
      $changes = git diff --staged --quiet
      if ($LASTEXITCODE -ne 0) {
        git commit -m "test: CI push test [skip ci]"
      }
    - git push $repoUrl HEAD:npm/main
    - Write-Host "✅ npm/main에 test-static/ 폴더가 생성되었습니다!"
  only:
    - npm/main