stages:
  - test
  - deploy

test:
  stage: test
  tags:
    - npm
  script:
    - npm ci
    - npm test
  only:
    - npm/main

publish:
  stage: deploy
  tags:
    - npm
  script:
    - npm config set //registry.npmjs.org/:_authToken $env:NPM_TOKEN
    - npm publish
  only:
    - npm/main