stages:
  - test
  - build
  - deploy

test:
  stage: test
  tags:
    - npm
  script:
    - npm ci
    - npm test
  only:
    - npm/main

build:
  stage: build
  tags:
    - npm
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist/
    expire_in: 1 day
  only:
    - npm/main

npm-deploy:
  stage: deploy
  tags:
    - npm
  dependencies:
    - build
  before_script:
    - git config --global user.email "ci@gitlab.com"
    - git config --global user.name "GitLab CI"
  script:
    - $token = $env:NPM_DEPLOY_TOKEN
    - $gitUrl = "https://oauth2:$token@lab.ssafy.com/s13-final/S13P31A306.git"
    - git clone --depth 1 --branch fe/develop $gitUrl temp
    
    # public/lib에 복사
    - New-Item -ItemType Directory -Force -Path temp/public/lib
    - Copy-Item dist/index.es.js temp/public/lib/loglens.esm.js
    - Copy-Item dist/index.umd.js temp/public/lib/loglens.umd.js
    - Copy-Item dist/index.d.ts temp/public/lib/loglens.d.ts
    - Get-ChildItem temp/public/lib
    
    - cd temp
    - git add public/
    - git status
    - |
      git diff --staged --quiet
      if ($LASTEXITCODE -ne 0) {
        git commit -m "chore: update loglens library [skip ci]"
      }
    - git push $gitUrl HEAD:fe/develop
    - Write-Host "✅ fe/develop의 public/lib/에 배포 완료!"
  only:
    - npm/main