stages:
  - test
  - deploy

test:
  stage: test
  tags:
    - npm
  script:
    - npm ci
    - npm test
  only:
    - npm/main

publish:
  stage: deploy
  tags:
    - npm
  script:
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
    - npm publish
  only:
    - npm/main