# ===================================================================
# 'production' 프로필 전용 설정
# ===================================================================
spring:
  # ===================================================================
  # 데이터 소스 설정 (DataSource Configuration)
  # ===================================================================
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    # DB 연결 URL. 환경 변수가 없으면 기본값 사용
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:fintech-osm}?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DB_USERNAME:ssafy}
    password: ${DB_PASSWORD:ssafy}
    # Hikari Connection Pool 설정
    hikari:
      maximum-pool-size: 10 # 최대 커넥션 수
      minimum-idle: 5      # 최소 유휴 커넥션 수

  data:
    redis:
      host: ${SPRING_REDIS_HOST:loglens-redis}
      port: ${SPRING_REDIS_PORT:6379}
      password: ${SPRING_REDIS_PASSWORD}

  # ===================================================================
  # JPA 및 Hibernate 설정
  # ===================================================================
  jpa:
    # SQL 쿼리 출력 여부
    show-sql: false
    # DDL(Data Definition Language) 자동 생성 전략
    hibernate:
      ddl-auto: create # 애플리케이션 시작 시 스키마를 새로 생성
    # Hibernate 관련 추가 프로퍼티
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect # MySQL 8 방언 사용
        format_sql: true                             # SQL을 보기 좋게 포맷팅

# ===================================================================
# Spring Boot Actuator 설정
# ===================================================================
management: # Spring-Actuator 설정
  endpoints:
    web:
      exposure:
        include: health, prometheus # Spring-Actuator에서 외부로 노출할 엔드포인트
  prometheus:
    metrics: # 시스템이나 애플리케이션의 동작 상태를 수치로 표현한 정보
      export:
        enabled: true   # prometheus 엔드포인트 활성화 여부 *default = true

# ===================================================================
# 로깅 설정 (Logging Configuration)
# ===================================================================
logging:
  level:
    S13P31A306.loglens: DEBUG
    # 헬스체크 컨트롤러 로그 비활성화
    S13P31A306.loglens.global.controller.HealthCheckController: OFF

    org.springframework.web: DEBUG
    org.springframework.boot.actuate: DEBUG
#    org.springframework.boot.actuate.endpoint: TRACE  # Actuator 엔드포인트 상세 추적
    org.springframework.security: DEBUG
    org.springframework.web.servlet.DispatcherServlet: DEBUG
    org.springframework.web.servlet.mvc.method.annotation: DEBUG
#    org.springframework.web.servlet.handler: TRACE  # 핸들러 매핑 상세 추적
