spring:
  application:
    name: dependency-logger-starter

# ?? ?? ??
logging:
  level:
    a306.dependency_logger_starter: DEBUG
    a306.dependency_logger_starter.config.DependencyProcessor: TRACE

# Dependency Logger ??
dependency:
  logger:
    trace:
      enabled: true

    method-execution:
      enabled: true

    collector:
      url: http://localhost:8081

    sender:
      enabled: true
