# ===================================================================
# 'production' 프로필 전용 설정
# ===================================================================
spring:
  application:
    name: [LogLens]
  # ===================================================================
  # 데이터 소스 설정 (DataSource Configuration)
  # ===================================================================
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:fintech-osm}?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DB_USERNAME:ssafy}
    password: ${DB_PASSWORD:ssafy}

  data:
    redis:
      host: ${SPRING_REDIS_HOST:loglens-redis}
      port: ${SPRING_REDIS_PORT:6379}
      password: ${SPRING_REDIS_PASSWORD}

  # ===================================================================
  # JPA 및 Hibernate 설정
  # ===================================================================
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

# ===================================================================
# Spring Boot Actuator 설정
# ===================================================================
management: # Spring-Actuator 설정
  endpoints:
    web:
      exposure:
        include: health, prometheus # Spring-Actuator에서 외부로 노출할 엔드포인트
  prometheus:
    metrics: # 시스템이나 애플리케이션의 동작 상태를 수치로 표현한 정보
      export:
        enabled: true   # prometheus 엔드포인트 활성화 여부 *default = true

# ===================================================================
# 로깅 설정 (Logging Configuration)
# ===================================================================
logging:
  level:
    S13P31A306.loglens: INFO
    org.hibernate.SQL: ERROR # Hibernate가 실행하는 SQL 로그 출력
    org.hibernate.type.descriptor.sql: ERROR # SQL 바인딩 파라미터 로그 출력
    org.springframework: INFO
  file:
    name: ./logs/be/app.log

dependency:
  logger:
    api-key: 831776ac-2d47-3e23-83b9-7619972f0cbf

    collector:
      url: https://api.loglens.co.kr
    enabled: true

    stacktrace:
      max-lines: 3

    frontend:
      enabled: true
      log-path: ./logs/fe/app.log
